#load_map{color:lime; position: absolute; top: 70px; left: 20%; height: 82px; width: 60%; text-align: center; vertical-align: middle; line-height: 2em; border:ridge 3px #CFFFA4;}
#loading{display: none; color:yellow; position: absolute; top: 70px; left: 20%; height: 82px; width: 60%; text-align: left; border:ridge 3px #FEA5A5; font-family: 'lucida console'; font-size: 12px}
#load_map_file{width:300px}
#load_map_1 {width: 100%; top: 0px; position: absolute; height: 50%; vertical-align: middle}
#load_map_2 {width: 90%; top: 40px; left: 0%; position: absolute; height: 50%; line-height: 50%/ vertical-align: middle}
#load_map_web {top: 0%; display: inline-block; margin-left: 5%; width: 60px; position: absolute;}
#mapstat_area{position:absolute;color:#A3FC81;font-size:14px;left:20px;top:95px;border:solid 2px #373737;background:#222222;padding:8px}
#additional_area{position:absolute;color:#A3FC81;font-size:14px;left:20px;top:224px;border:solid 2px #373737;background:#222222;padding:8px}
.x_1{color:#A3FC81;font-size:14px}
#mapstat_source, #mapstat_tags {width: 77px;}
.smaller_text{height:18px;font-size:12px;font-family:verdana;color:#FEBF4B}
#hidden_options, #float_breakmap {display: none;}
#output_data{display:none;position:absolute;left:20px;top:20px;overflow:hidden;width:450px;height:180px;font-size:12px;font-family:'courier new';padding:1px 2px 2px 4px;color:#D6DB00}
#save_map {display: none;width: 40%; height: 140px; top: 40px; line-height: 70px; position: absolute; left: 30%; font-size: 20px;}
#float_msie{display: none; color:lime; position: absolute; top: 30%; left: 20%; height: 5em; width: 60%; text-align: center; vertical-align: middle; line-height: 5em}